<mat-form-field appearance='fill'>
  <mat-label>Email</mat-label>
  <input matInput [formControl]='form.controls.email'>
</mat-form-field>

<mat-form-field appearance='fill'>
  <mat-label>Password</mat-label>
  <input matInput [formControl]='form.controls.password'>
</mat-form-field>

<mat-form-field appearance='fill'>
  <mat-label>Firstname</mat-label>
  <input matInput [formControl]='form.controls.firstName'>
</mat-form-field>

<mat-form-field appearance='fill'>
  <mat-label>Lastname</mat-label>
  <input matInput [formControl]='form.controls.lastName'>
</mat-form-field>
